.container{
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
}

img {
  height: 200px;
}

.bcg-grey{
  background-color: #f9f9f9;
}

.down .row img{
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

section>.row:first-child{
  margin-top: 100px;
  padding-bottom: 30px;
}

.row h3{
  padding: 30px 0px;
}

.row p{
  padding:0 40px 10px 40px;
}

.row hr{
  margin-bottom: 30px;
}

@media screen and (max-width:992px){

  img{
    height: 150px;
  }

  .center .row img{
    padding-top: 20px;
  }
}
